/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS Variables */
:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Poppins", cursive;
    --primary-color: black; /* black */
    --secondary-color: white; /* white */
    --highlight-color: #3a1d05; /* blue */
    --highlight-color-light: #edcab0; /* light blue */
}

/* General Styles */

body {
    font-family: var(--primary-font);
    padding-top: 50px;
}
.section {
    padding-top: 4rem;
}
.aboutsection {
    padding-top: 8rem;
}
h1 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
p {
    font-family: var(--primary-font);
}
/*.text-justify {
    text-align: justify;
}*/
.custom-img {
    height: 400px; /* desired height */
    object-fit: cover; /* preserves aspect ratio & crops if needed */
    border-radius: 20px;
}

/*button*/
.custom-button-filled {
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color-light);
    background-color: var(--highlight-color-light);
    color: var(--primary-color);
}

.custom-button-outline {
    border: 4px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color);
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white;
}

/*logo*/
#navbar {
    background-color: white !important;
}
#navbar .logo {
    width: 40px;
}

/* Add overflow-x hidden to prevent horizontal scrolling */
header {
    overflow-x: hidden;
}
/* Style the hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/hero1_converted.webp");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed;*/
    background-position: center 50px; /*moves down*/
    color: #ffebd4;
    padding: 8rem 0;
}
/*Footer*/
footer {
    background-color: black;
    color: white;
}
#footer .social-links i {
    color: white;
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}
